/* DON'T Reapeat Yourself */

/* One For All */
body {
  /* max-width: 500px; */
  /* margin: 0 auto; */
  text-align: center;
  line-height: 30px;
  font-family: 'Times New Roman', Times, serif;
}

main {
  text-align: left;
}
h1 {
  color: #1d1c1c;
  color: white;
}
h2 {
  padding: 10px;
}
h3 {
  font-size: 23px;
  margin-bottom: 10px;
}
form {
  max-width: 500px;
  margin: 0 auto;
}
fieldset {
  border: none;
}
/* Header */
.form-head {
  background-color: #abe8e6;
  padding: 1px;
}
.latest-news {
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 30px;
}
hr {
  border: 1px solid #41b5af;
  margin: 4px auto;
}
.main-hr {
  border: 2px solid #41b5af;
  margin: 0;
}
/* Contact Section */
.contact-section label {
  margin-top: 15px;
}
input::placeholder {
  text-align: right;
  opacity: 0.5;
  font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="tel"],
.select-state {
  border: none;
  width: 95%;
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #ff6c8c41;
  border-radius: 5px;
  cursor: pointer;
}

.select-state {
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.select-state:focus {
  background-color: #ff6c8c41;
}

#zip {
  width: fit-content;
}

/* Newsletter */
.news-section {
  background-color: #abe8e6;
  border-radius: 5px;
}
.news label {
  padding: 5px;
}
textarea {
  width: 30px 10px;
  border-radius: 5px;
}

.sign-up {
  cursor: pointer;
  background-color: #ff6c8c41;
  border-radius: 5px;
  padding: 15px 100px;
  text-align: center;
  margin-top: 15px;
  width: 100%;
  border-color: #ff6c8c41;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {

  #contact-section {
    padding: 0;
  }
  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .select-state {
    width: 79%;
  }
  #zip {
  margin-right: 179px;
}
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 75%;
  }

  label {
    width: 30%;
  }
}
